/*Universal */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Link decoration */
a{
    text-decoration: none;
}
/* Unordered list*/
ul{
    list-style: none;
}

/*List  */
.active{
    color: #fc036b;
    text-decoration: none;
    font-weight: bold;
}

body , html {
    overflow-x: hidden;
}

/* Navbar */
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
}

.nav-links{
    display: flex;
    align-items: center;
}

.nav-links li{
    margin: 0 30px;
}